.sidebar {
  z-index: 99;
  background-color: #fff;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
}

.closed {
  display: none;
}

.sidebar p {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: #1a8c0f;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  
}

.links a {
  margin: 2rem 0;
  text-decoration: none;
  color: #1a8c0f;
}